apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
data:
  # auth

  AUTH_UI_URL: http://localhost:30001
  AUTH_PARENT_HOST: http://localhost:30000
  AUTH_API_URL: http://localhost:30002/api
  AUTH_DB_HOST: auth-db
  AUTH_DB_USER: db
  AUTH_DB_PASS: yourpassword
  AUTH_DB_NAME: db

  # myinfo
  MYINFO_API_URL: http://localhost:30003/auth
  MYINFO_DB_HOST: myinfo-db
  MYINFO_DB_USER: db
  MYINFO_DB_PASS: yourpassword
  MYINFO_DB_NAME: db

  JWT_SECRET: s0mes3cre5

  # Rabbit mq
  RABBITMQ_HOST: rabbit
  RABBITMQ_DEFAULT_USER: rabbit
  RABBITMQ_DEFAULT_PASS: secretpass
