apiVersion: v1
kind: ConfigMap
metadata:
  name: recon-config
data:
  ACCOUNT_API_URL: http://localhost:30001
  # DB
  DB_HOST: localhost
  DB_USER: db
  DB_PASS: yourpassword
  DB_NAME: db
  JWT_SECRET: s0mes3cre5
