apiVersion: v1
kind: ConfigMap
metadata:
  name: recon-config
data:
  AUTH_API_URL: http://localhost:30001/auth
  # DB
  DB_HOST: recon-db
  DB_USER: db
  DB_PASS: yourpassword
  DB_NAME: db
  JWT_SECRET: s0mes3cre5
